<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Character Collector</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>About the Character Collector</h1>
<hr />
<p>Collect the characters you've created for different campaigns!!</p>
    {%endblock %}
<footer>All Rights Reserved, &copy; 2022 Character Collector</footer>

  
</body>
</html>